<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lambda.wallet">

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="375"/>
        <meta-data
            android:name="design_height"
            android:value="750"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"/>
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape"/>

        <activity
            android:name=".modules.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.wallet.login.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.wallet.creatwallet.CreatWalletActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.wallet.mnemonic.MnemonicActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.wallet.mnemonic.CheckMnmonicActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.wallet.importwallet.activity.ImportWalletActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.wallet.walletmanger.WalletMangerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.me.setting.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.transaction.transfer.TransferActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.transaction.award.activity.AwardActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.transaction.exchange.activity.ExchangeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.producer.ProducerDetailsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.mining.storemining.activity.StoreMiningActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.mining.storemarket.StoreMarketActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.mining.storemarket.buystore.BuyStoreActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.transaction.history.HistoryTransferActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.webview.WebviewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.zhiyamanger.zhiya.ZhiYaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.zhiyamanger.zhuanzhiya.ZhuanZhiYaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.zhiyamanger.cancelzhiya.CancelZhiYaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.mining.storeorder.StoreOrderActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.mining.orderdetails.OrderDetailsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.proposal.ProposalActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.proposal.proposaldetails.ProposalDetailsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.proposal.cashpledge.CashPledgeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.proposal.toupiao.TouPiaoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.me.setting.ChangeChainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.scancode.ScanCodeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.transaction.makecollection.MakeCollectionActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>